
  {{!-- Displays div with {{error}} only if error is a valid object --}}
{{#if error}}     
    <div class="alert alert-danger">{{error}}</div>
{{/if}}

{{!-- 
  Loop through each text in {{errors}} array to display errors  
--}}
{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}